<h1>Your events</h1>

<% if !@user.events.empty? %>
  <h2>Events you're hosting</h2>
  <ul>
    <% @user.events.each do |event|%>
      <li>
        Date: <%= event.date %>
        Location: <%= event.location %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Events where you're invited</h2>
<ul>
  <% @user.events_invited.each do |event| %>
    <li>
        Date: <%= event.date %>
        Location: <%= event.location %>
    </li>
  <% end %>
</ul>
<%= link_to "sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>

