<h1>All Events</h1>

<% if @events.empty? %>
  <p>There are no Events</p>
  <%= link_to "Create an Event", new_user_event_path(current_user) %>
<% else %>
  <h2>Past Events</h2>
  <table style="width:30%">
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th></th>
    </tr>

    <% @events.past.each do |event| %>
      <tr>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
        <% if user_signed_in? %>
          <td><%= link_to "Check details", user_event_path(current_user, event)%></td>
        <% end %>
      </tr>
    <% end %>
  </table>
    <% if !@events.future.empty? %>
      <h2>Upcoming Events</h2>
      <table style="width:30%">
        <tr>
          <th>Location</th>
          <th>Date</th>
          <th></th>
        </tr>
        <% @events.future.each do |event| %>
          <tr>
            <td><%= event.location %></td>
            <td><%= event.date %></td>
            <% if user_signed_in? %>
              <td><%= link_to "Check details", user_event_path(current_user, event)%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<br>
<% if user_signed_in? %>
  <%= link_to "Your Events", user_path(current_user) %><br>
  <%= link_to "sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <p>Sign in to create and join events</p>
  <%= link_to "Sign in", new_user_session_path %><br>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
